<app-header></app-header>
<ion-content padding>
  <ion-text color="secondary">
    <h2>About Us</h2>
  </ion-text>
  <ion-row>
    <p>
      A crowd-sourced knowledge driven hub that utilizes technology resources from various organizations to help their business units complete work more efficiently.
    </p>
  </ion-row>
  <ion-text color="secondary">
    <h2>Contact Us</h2>
  </ion-text>
  <ion-row>
  <ion-col>
    <ion-card>
        <ion-img src="/assets/images/david.PNG"></ion-img>
        <ion-card-header>
            <ion-card-title>David Gonzalez</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Email: <a href="mailto:dg978t@att.com">dg978t@att.com</a></p>
        </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col>
    <ion-card>
        <ion-img src="/assets/images/neel.jpg"></ion-img>
        <ion-card-header>
            <ion-card-title>Neel Patel</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Email: <a href="mailto:np207e@att.com">np207e@att.com</a></p>
        </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
