.description {
    width: 100%;
    border: 2 solid #e6e7e8;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-bottom-width: 2px;
    overflow: hidden;
    background-color: #fafafa;
    transition: height .24s ease-out;
    border-top-width: 2px;
}