<app-header></app-header>

<ion-content padding fullscreen="true">
  <ion-row>
    <ion-col>
        <ion-icon name="logo-github"></ion-icon>
        David Gonzalez
        <ion-text color="tertiary"><ion-icon name="arrow-forward"></ion-icon>A/I</ion-text>
    </ion-col>
    <ion-col style="text-align: right">
      October 21 2018
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-text>
      <h2>Power Bi</h2>
    </ion-text>
    <!-- <ion-text color="medium" style="padding-left: 5px">
       INTERNET AND FIELD ENTERTAINMENT
    </ion-text> -->
  </ion-row>
  
  <ion-row>
    <p>A sad, sad day: Google+ is shutting down by next August. 

        For those interested in continuing to get my updates on Artificial Intelligence news and articles, you can find it on Twitter now:</p>
  </ion-row>
  <ion-row>
      <ion-img src="assets/images/powerbi.png"></ion-img>
  </ion-row>
  <ion-row>
    <h6>Benefit</h6>
    <p>A sad, sad day: Google+ is shutting down by next August. 

        For those interested in continuing to get my updates on Artificial Intelligence news and articles, you can find it on Twitter now:</p>
  </ion-row>
</ion-content>
