<app-header></app-header>

<ion-content padding>
  <ion-row>
    <ion-col>
        <ion-item>
            <ion-select  class="myCustomSelect" placeholder="Category" multiple="true">
              <ion-select-option>AI Tools</ion-select-option>
              <ion-select-option>Automation</ion-select-option>
              <ion-select-option>API</ion-select-option>
              <ion-select-option>Data Management</ion-select-option>
              <ion-select-option>Developer</ion-select-option>
              <ion-select-option>Data Analytics & Visualization</ion-select-option>
              <ion-select-option>Productivity & Collaboration</ion-select-option>
              <ion-select-option>Project Management</ion-select-option>
              <ion-select-option>Finance</ion-select-option>
              <ion-select-option>Network</ion-select-option>
              <ion-select-option>Other</ion-select-option>
            </ion-select>
          </ion-item>
    </ion-col>
    <ion-col>
        <ion-item>
            <ion-input type="text" clearInput placeholder="Organization">
            </ion-input>
          </ion-item>
      </ion-col>
      <ion-col>
          <ion-item>
              <ion-select class="myCustomSelect" placeholder="Price" ok-text="Okay">
                <ion-select-option value="ascending">$ Low to high</ion-select-option>
                <ion-select-option value="descending">$ High to low</ion-select-option>
              </ion-select>
            </ion-item>
        </ion-col>   
  </ion-row>
  <ion-row *ngFor="let j of [1,2,3]">
    <ion-col *ngFor="let i of [1,2,3,4]">
      <ion-card>
        <!-- <div style="float:right">
            10
            <ion-icon name="heart" color="secondary" slot="end"></ion-icon>
        </div> -->
          <ion-card-header>
              <ion-card-subtitle>Organization</ion-card-subtitle>
              <ion-card-title>Tool Name
              </ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
            <ion-button color="secondary" (click)="viewTool()">
              See more
            </ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
